img {
	
	height: 90px;
	left: 50%;
	margin-top: -125px;
	margin-left: -130px;
	position: fixed;
	top: 43%;
	width: 270px;
}

input[type=text] {
	height: 35px;
	left: 50%;
	margin-top: -125px;
	margin-left: -265px;
	position: fixed;
	top: 58%;
	width: 550px;
	box-shadow: 5px 5px #f2f2f2;
	border: 1px solid grey;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding-top: 14px;
    padding-right: 0px;
    padding-left: 15px;
    text-decoration: none;
    font-family: arial,sans-serif;
}

li a {
    text-decoration: none;
    display: inline-block;
    padding-left: 15px;
    color: #000;
    opacity: 0.75;
    font-size: 13px;
}

.right-header {
	float: right;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    margin-right:10%;
}

.right-header li a {
	text-decoration: none;
    display: inline-block;
    padding-left: 15px;
    color: #000;
    opacity: 0.75;
    font-size: 13px;
}
.bottom-nav {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: #222;
	background-color: #f2f2f2;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-family: arial,sans-serif;
}

.bottom-nav li a {
	text-decoration: solid;
    display: inline-block;
    padding-left: 15px;
    color: #000;
    opacity: 0.75;
    font-size: 13px;
}

.bottom-right {
	position: fixed;
	right: 0;
	bottom: 10;
    color: black;
    text-align: center;
    text-decoration: none;
    margin-right:5%;
}

.buttons {
	display:inline-block;
	height: 90px;
	left: 50%;
	margin-top: -125px;
	margin-left: -175px;
	position: fixed;
	top: 64%;
	width: 500px;
}

.buttons li a {
	background-color:#f2f2f2;
	text-align: center;
	width:140px;
	height: 37px;
	padding-right: 10px;
	padding-top: 8px;
	font-family: arial,sans-serif;
	font-weight: bold;
	text-decoration: none;
	color: #757575;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
}